name: 基建通刷邀请

on:
  schedule:
    - cron: '0 1,10 * * *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - uses: actions/checkout@v2
      - name: 初始化Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: 刷邀请
        run: |
          pip install -r requirements.txt

          code='${{ secrets.CODE}}'

          code_list=()
          for q in ${code[*]}
          do
          code_list[${#code_list[*]}]=${q}
          done
          code_num=${#code_list[*]}
          else
          echo "共有 $code_num个邀请码，即将开始刷邀请！"
          fi
          for ((i=0;i<$code_num;i++))
          do
          python3 invite_user.py <<EOF
          ${code_list[$i]}
          EOF
          done
